---
---

body
    background-color: black
    color: white

.markdown-body
    padding: 10%
    color: white

a, .markdown-body a
    color: #fe7d37

a:hover, .markdown-body a:hover
    color: #dfb317

.markdown-body img
    background-color: transparent

.markdown-body pre
    background-color: black

#fork-me-on-github .github-fork-ribbon
    background-color: #dfb317

#fork-me-on-gitlab
    width: 200px
    height: 200px

#fork-me-on-gitlab .github-fork-ribbon
    top: 65px
    right: -93px
    background-color: #fe7d37

#fork-me-on-gitlab a
    width: 350px

#fork-me-on-bitbucket
    width: 250px
    height: 250px

#fork-me-on-bitbucket .github-fork-ribbon
    top: 91px
    right: -96px
    background-color: #007ec6

#fork-me-on-bitbucket a
    width: 400px
