---
---

body
    background-color: black
    color: white

.markdown-body
    padding: 10%
    color: white

a, .markdown-body a
    color: #fe7d37

.markdown-body img
    background-color: black

.github-fork-ribbon-wrapper.right .github-fork-ribbon
    background-color: #fe7d37
