<head>
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans"
        />

  <link rel="stylesheet"
        href="http://simonwhitaker.github.io/github-fork-ribbon-css/gh-fork-ribbon.css"
        />
  <link rel="stylesheet"
        href="https://sindresorhus.com/github-markdown-css/github-markdown.css"
        />

  <link rel="stylesheet"
        href="{{ '/css/monokai.css' | prepend: site.baseurl }}"
        />

  <link rel="stylesheet"
        href="{{ '/css/zimmermann.css' | prepend: include.baseurl or site.baseurl }}"
        />

  <script type="text/javascript"
          src="http://code.jquery.com/jquery-2.1.4.min.js"
          >
  </script>
</head>
