<style>
  #title-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 130px;
      // padding-left: 110px;
      // background-color: white;
  }

  #title {
      position: absolute;
      bottom: 0px;
      margin: 0px;
      border-left: 173px solid white;
      background-color: #693e70;
  }

  #title a, #title a:hover, #title a:active, #title a:visited {
      // padding: 0.1em 0.5em 0.2em 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      // border-bottom: 0.1em solid #693e70;
      color: black;
      text-decoration: none;
  }
</style>

<div id="title-wrapper">
  <h2 id="title"><a href="/">{{ site.title }}</a></h2>
</div>
